footer{
    padding: 35px 0;
    overflow: hidden;
}
footer .footer_anim{
    float: left;
}
footer nav ul{
    float: right;
    overflow: hidden;
    list-style: none;
}
footer nav ul li{
    float: left;
    margin-left: 25px;
}
footer nav ul li a{
    color: #838181;
    font-size: 13px;
    text-decoration: none;
}

