@font-face {
    font-family: 'raleway-regular';
    src: url('../fonts/raleway-regular.eot');
    src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-regular.woff') format('woff'),
    url('../fonts/raleway-regular.ttf') format('truetype'),
    url('../fonts/raleway-regular.svg#raleway-regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-semibold';
    src: url('../fonts/raleway-semibold.eot');
    src: url('../fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-semibold.woff') format('woff'),
    url('../fonts/raleway-semibold.ttf') format('truetype'),
    url('../fonts/raleway-semibold.svg#raleway-semibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-bold';
    src: url('../fonts/raleway-bold.eot');
    src: url('../fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-bold.woff') format('woff'),
    url('../fonts/raleway-bold.ttf') format('truetype'),
    url('../fonts/raleway-bold.svg#raleway-bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    line-height:1;
    background: #fff;
}
ul, li{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    color: #ffffff;
}
img{
    max-width: 100%;
}

.wrapper{
    width: 1100px;
    margin: 0 auto;
}
h1, h2, h3, h4, h5 ,h6{
    color: #f6f6f6;
    font-family: "raleway-regular", arial,serif;
    letter-spacing: 1px;
    font-weight: bolder
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

.title{
    text-align: center;
    overflow: hidden;
}
.title h2{
    color: #616161;
    font-family: "raleway-bold", serif;
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 20px 0;
    text-transform: uppercase;
}
.title h3{
    color: #9b9b9b;
    font-family: "raleway-regular", serif;
    font-size: 14px;
    margin: 0 0 20px 0;
    font-weight: normal !important;
}
.title hr.separator{
    display: block;
    width: 40px;
    height: 1px;
    background-color: #ebebeb;
    margin: 0 auto;
    padding: 0;
    border: 0 !important;
}
