body {
    line-height:1;
    background: #fff;
    font-family: "raleway-regular", serif;
}
ul, li{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    color: #ffffff;
}
a:hover{
    color: crimson;
    opacity: 0.7;
    background-color: #f6f6f6;
}

.wrapper{
    width: 1100px;
    margin: 0 auto;
}
h1, h2, h3, h4, h5 ,h6{
    color: #f6f6f6;
    letter-spacing: 1px;
    font-weight: bolder
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

.adv:first-child {
    position: fixed;
    top: 17em;
    left: 0;
    z-index: 10;
}
.adv:first-child:hover .popup {
    opacity: 0.7;
    position: absolute;
    top: -80px;
    left: 170px;
    visibility: visible;
}
.adv .popup {
    position: absolute;
    background: #ebebeb;
    visibility: hidden;
}
.adv p {
    font-size: 20px;
    text-align: center;
}

.flash {
    position: relative;
}


